body {
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 300;
    word-spacing: 0.1em;
    margin: 0px;
    padding: 0px;
}

header {
    display: inline;
}

main {
    padding: 25px;
    overflow: auto;
    font-weight: 100;
}

#content {
    float: left;
    width: 75%;
}

* {
    box-sizing: border-box;
}

aside {
    padding-left: 25px;
    float: right;
    width: 25%;
}

h2, h3 {
    color: #00a2c6;
}

footer {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}


nav li {
    display: inline;
    margin-right: 20px;
    list-style-type: none;
}

.profile header{
    text-align: center;
}

.profile img {
    width: 200px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    text-align: center;
    background-color: #00c8eb;
    color: white;
}

@media screen and (max-width: 1000px) {
  #content, aside {
    width: 100%;
    padding: 0;
  }
}

.profile h3 {
    text-align: center;
}
