body {
    font-family: "Stack Sans Text", sans-serif;
    font-weight: 300;
    word-spacing: 0.1em;
    margin: 0px;
    padding: 0px;
}

header {
    display: inline;
}

main {
    padding: 25px;
    display: flex;
    gap: 1.5rem;
    font-weight: 100;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

* {
    box-sizing: border-box;
}

aside {
    flex: 1;
}

h2, h3 {
    color: #00a2c6;
}

footer {
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

nav ul {
    gap: 2rem;
    padding-inline  : 4rem;
    display: flex;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}


nav li {
    list-style-type: none;
}

.profile header{
    text-align: center;
}

.profile img {
    width: 200px;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.card {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    text-align: center;
    background-color: #00c8eb;
    color: white;
}

@media screen and (max-width: 1200px) {
    main {
        /* Jika ukuran layar dibawah 1200px maka akan diterapkan vertikal menggunakan */
        flex-flow: column nowrap;
    }
    main aside {
        /* Akan menerapkan hal yang sama, tetapi kepada aside (child) juga, karena memakai descendant selector yang mana main adalah parentnya */
        align-self: center;
    }
}

.profile h3 {
    text-align: center;
}
